docker.enabled = true
docker.runOptions = '-u $(id -u):$(id -g)'

params {
    reads_dir = "${projectDir}/data/samples"
    ref       = "${projectDir}/data/ref/genome.fasta"
    outdir    = "results"
}

process {
    withName: FASTP {
        container = 'quay.io/biocontainers/fastp:0.23.4--hadf994f_2'
    }
    withName: 'INDEX_REF|BWA_ALIGN|SOMATIC_CALLER' {
        container = 'glorynwotite/genomic-tools:1.0'
    }
    withName: MULTIQC {
        container = 'quay.io/biocontainers/multiqc:1.19--pyhdfd78af_0'
    }
}
